Ai Automation/project-3-competitor-intelligence/blueprints/The Marketing Asset & Newsletter Stager.blueprint.json
{
    "name": "The Marketing Asset & Newsletter Stager",
    "flow": [
        {
            "id": 11,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 8602844,
                "base": "app0vjuBIkBUVqnjA",
                "useColumnId": false,
                "table": "tbln4ZzPlhblLFjlI",
                "config": {
                    "triggerField": "Last Modified",
                    "labelField": "Article Title"
                },
                "maxRecords": 10,
                "formula": "{Generate Newsletter Feature} = 1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -293,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable OAuth connection (User ID: usrv1BRaI6uYjuDbI)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        },
                        "base": {
                            "label": "Ops Marketing Engine"
                        },
                        "table": {
                            "label": "Research"
                        },
                        "config": {
                            "nested": {
                                "triggerField": {
                                    "label": "Last Modified"
                                },
                                "labelField": {
                                    "label": "Article Title"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "type": "collection",
                        "label": "Trigger configuration",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Article Title",
                        "label": "Article Title",
                        "type": "text"
                    },
                    {
                        "name": "Captured URL",
                        "label": "Captured URL",
                        "type": "text"
                    },
                    {
                        "name": "Core Position Shift",
                        "label": "Core Position Shift",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Threat Level",
                        "label": "Threat Level",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Newsletter Draft Copy",
                        "label": "Newsletter Draft Copy",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Generate Newsletter Feature",
                        "label": "Generate Newsletter Feature",
                        "type": "text"
                    },
                    {
                        "name": "Last Modified",
                        "label": "Last Modified",
                        "type": "date"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "mailchimp:createACampaign",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8603863
            },
            "mapper": {
                "title": "Newsletter",
                "list": "64ba2ea867",
                "subject_line": "Industry Intel: Reacting to Market Shifts",
                "preview_text": "Here is what our strategy team is tracking this week...",
                "from_name": "i0nai",
                "reply_to": "mristo1044@gmail.com",
                "to_name": "Newsletter Subscriber",
                "use_conversation": false,
                "select": "html",
                "segment": 10411992,
                "segment_text": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n    <meta charset=\"utf-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>Competitive Intelligence Briefing</title>\r\n</head>\r\n<body style=\"margin: 0; padding: 0; background-color: #f4f6f8; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\">\r\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed; background-color: #f4f6f8; padding: 40px 20px;\">\r\n        <tr>\r\n            <td align=\"center\">\r\n                <!-- Main Email Container -->\r\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 600px; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.05);\">\r\n                    \r\n                    <!-- Header Banner -->\r\n                    <tr>\r\n                        <td style=\"background-color: #1a1f2c; padding: 32px 40px; text-align: left;\">\r\n                            <span style=\"color: #58a6ff; font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.5px; display: block; margin-bottom: 8px;\">Market Intelligence Update</span>\r\n                            <h1 style=\"color: #ffffff; font-size: 24px; font-weight: 700; margin: 0; line-height: 1.3;\">Weekly Strategic Insights Briefing</h1>\r\n                        </td>\r\n                    </tr>\r\n\r\n                    <!-- Body Content Area -->\r\n                    <tr>\r\n                        <td style=\"padding: 40px;\">\r\n                            <p style=\"color: #334155; font-size: 16px; line-height: 1.6; margin-top: 0; margin-bottom: 24px;\">\r\n                                Hello Team,\r\n                            </p>\r\n                            <p style=\"color: #334155; font-size: 16px; line-height: 1.6; margin-bottom: 32px;\">\r\n                                Our automated tracking systems just flagged a significant shift in our competitive landscape. Here is the breakdown analyzed by our strategy engine along with our immediate counter-positioning directive:\r\n                            </p>\r\n\r\n                            <!-- AI Generated Content Card Section -->\r\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-left: 4px solid #1a1f2c; border-radius: 4px; margin-bottom: 32px;\">\r\n                                <tr>\r\n                                    <td style=\"padding: 24px; color: #1e293b; font-size: 15px; line-height: 1.6; font-style: italic;\">\r\n                                        <p>{{11.`Newsletter Draft Copy`}}</p>\r\n                                    </td>\r\n                                </tr>\r\n                            </table>\r\n\r\n                            <p style=\"color: #334155; font-size: 16px; line-height: 1.6; margin-bottom: 32px;\">\r\n                                All sales, marketing, and product development assets are being staged in the corresponding directories to ensure alignment on this messaging adjustment.\r\n                            </p>\r\n\r\n                            <!-- Call To Action Button (Optional / Calendly Intersect) -->\r\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\r\n                                <tr>\r\n                                    <td align=\"center\" style=\"padding-bottom: 16px;\">\r\n                                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: separate;\">\r\n                                            <tr>\r\n                                                <td align=\"center\" valign=\"middle\" style=\"background-color: #1a1f2c; border-radius: 6px;\">\r\n                                                    <a href=\"https://calendly.com\" target=\"_blank\" style=\"display: inline-block; color: #ffffff; font-size: 15px; font-weight: 600; padding: 14px 32px; text-decoration: none; letter-spacing: 0.5px;\">Review Strategic Assets</a>\r\n                                                </td>\r\n                                            </tr>\r\n                                        </table>\r\n                                    </td>\r\n                                </tr>\r\n                            </table>\r\n                        </td>\r\n                    </tr>\r\n\r\n                    <!-- Footer Section -->\r\n                    <tr>\r\n                        <td style=\"background-color: #f8fafc; padding: 24px 40px; text-align: center; border-top: 1px solid #e2e8f0;\">\r\n                            <p style=\"color: #94a3b8; font-size: 12px; line-height: 1.5; margin: 0;\">\r\n                                This is an automated operations dispatch generated by your Competitive Intelligence Pipeline.<br>\r\n                                © 2026 Operations Automation Suite. All rights reserved.\r\n                            </p>\r\n                        </td>\r\n                    </tr>\r\n\r\n                </table>\r\n            </td>\r\n        </tr>\r\n    </table>\r\n</body>\r\n</html>"
            },
            "metadata": {
                "designer": {
                    "x": 100,
                    "y": 9
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Mailchimp connection (mristo1044@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "mailchimp2"
                            }
                        }
                    },
                    "expect": {
                        "list": {
                            "mode": "chose",
                            "label": "i0nai"
                        },
                        "use_conversation": {
                            "mode": "chose"
                        },
                        "folder": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "By HTML Format Text"
                        },
                        "segment": {
                            "mode": "chose",
                            "label": "Customer"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mailchimp2,mailchimp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Campaign Title",
                        "required": true
                    },
                    {
                        "name": "list",
                        "type": "select",
                        "label": "List (Audience) ID",
                        "required": true
                    },
                    {
                        "name": "subject_line",
                        "type": "text",
                        "label": "Subject Line",
                        "required": true
                    },
                    {
                        "name": "preview_text",
                        "type": "text",
                        "label": "Preview Text"
                    },
                    {
                        "name": "from_name",
                        "type": "text",
                        "label": "From Name",
                        "required": true
                    },
                    {
                        "name": "reply_to",
                        "type": "email",
                        "label": "From Email Address",
                        "required": true
                    },
                    {
                        "name": "to_name",
                        "type": "text",
                        "label": "To Name"
                    },
                    {
                        "name": "use_conversation",
                        "type": "boolean",
                        "label": "Use Conversation",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder ID"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Fill the Body Content",
                        "required": true,
                        "validate": {
                            "enum": [
                                "template",
                                "html"
                            ]
                        }
                    },
                    {
                        "name": "segment",
                        "type": "select",
                        "label": "Segment (Tag) ID"
                    },
                    {
                        "name": "segment_text",
                        "type": "text",
                        "label": "HTML Content"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-drive:createAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8604822
            },
            "mapper": {
                "destination": "drive",
                "folderId": "/1Pl5mtTQQt0DCZdzzTczBFEgj4LJJTy3b/1jyJiGrfZ53C7bYcvcDmj7s11Fyzqg0C-/19A7h-w-8yzuSbGlOsvelpXjZDw35Rkuv",
                "name": "Asset Requests-{{11.`Article Title`}}-[Pending Assets]",
                "shared": false
            },
            "metadata": {
                "designer": {
                    "x": 430,
                    "y": 9
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Drive connection (mristo1044@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-drive"
                            }
                        }
                    },
                    "expect": {
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Marketing Assets",
                                "2026",
                                "Campaigns"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted,google-drive",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "New Folder's Name"
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Share Folder",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}