Ai Automation/project-2-meeting-intelligence/workflows/ parent_ingest.json
{
  "name": "The Autonomous Meeting Intelligence & Task Dispatcher.",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI data extraction layer. Analyze the incoming text and format your entire response as a single, clean JSON object. Do not include conversational remarks or markdown code wraps.\n\n{{ $json.body.metadata.title }}\n\n{{ $json.body.metadata.host }}\n\n{{ $json.body.metadata.date }}\n\n{{ $json.body.transcript_raw }}\n\nTarget Structure:\n{\n  \"executive_summary\": \"Provide a clean 2-sentence breakdown of what occurred.\",\n  \"action_items\": [\n    {\"host\": \"Name of meeting host\", \"task_name\": \"Task name here\", \"assignee\": \"Person/Team name\", \"due_date\": \"YYYY-MM-DD\"}\n  ]\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        608,
        -80
      ],
      "id": "f09b1778-53aa-45ba-b89c-a4b58e97bf8f",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "r1K2goGITUG1gLYK",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "38ccc281-f93c-80b3-a79e-c2da77fbe632",
          "mode": "list",
          "cachedResultName": "task list ",
          "cachedResultUrl": "https://app.notion.com/p/38ccc281f93c80b3a79ec2da77fbe632"
        },
        "title": "={{ $json.assignee }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "includeTime": false,
              "date": "={{ $json.due_date }}",
              "timezone": "Africa/Johannesburg"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.task_name }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.assignee }}"
            },
            {
              "key": "Ai Summary|rich_text",
              "textContent": "={{ $('Edit Fields').item.json.executive_summary }}"
            },
            {
              "key": "Host|rich_text",
              "textContent": "={{ $json.host }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1408,
        -80
      ],
      "id": "4ab8e928-e82b-4c01-91b6-cac3dc98112e",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "hZHwPH0fnwvKva7X",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "team": "90152603807",
        "space": "901511274641",
        "folderless": true,
        "list": "901524122509",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2080,
        -96
      ],
      "id": "39c68836-e534-4813-af88-e135ef55007d",
      "name": "Create a task",
      "credentials": {
        "clickUpApi": {
          "id": "WPhjS8WtwgfD9IoS",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-ingestion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        384,
        -80
      ],
      "id": "12d14f34-7c38-412c-9919-25ead7ed94e2",
      "name": "Webhook",
      "webhookId": "e3f9dd07-fe8d-4bd2-ba9b-49043be3b2ce"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -80
      ],
      "id": "5dfef367-5c85-4168-a989-92976e162bfa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Assuming $input.first().json.myArray contains your array of items\nconst items = $input.first().json.action_items;\n\nreturn items.map(item => {\n  return { json: item };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -80
      ],
      "id": "49ba1750-f6a4-40e9-8220-7b81a7617e51",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e48c2be-b849-4044-9879-96a901ec32b0",
              "leftValue": "={{ $('Edit Fields').item.json.action_items }}",
              "rightValue": "={{ $('Edit Fields').item.json.action_items }}",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        -80
      ],
      "id": "37e0dd0e-54fa-4d5c-929d-0c677f304a79",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1856,
        -80
      ],
      "id": "73ca397c-bd2b-4861-9c81-bc040bf0961f",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c97cd1ff-66d1-4d33-987d-d232e97e0dc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6014915b5bd8b18b51541dd7848851e360f2d52ea1434e7606ee54d296c878f1"
  },
  "id": "nLz-iW709nOEzG0q8vx5U",
  "tags": []
}